@model IEnumerable<CrudApp.Models.Product>

<h1>Products</h1>
<p><a class="btn btn-primary" href="/Products/Create">Create New</a></p>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>
          <a class="btn btn-warning btn-sm" href="/Products/Edit/@item.Id">Edit</a>
          <a class="btn btn-danger btn-sm" href="/Products/Delete/@item.Id">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>